<div>
  <br>
  <mat-card>
    <section class="mat-typography">
      <h3>Login</h3>
    </section>
    <mat-divider></mat-divider>
    <br>
    <form [formGroup]="loginForm" class="create_form">
      <mat-form-field class="full-width">
        <input  type="text" matInput placeholder="Enter Username" formControlName="username" #username>
      </mat-form-field>
      <mat-form-field class="full-width">
        <input type="password" matInput placeholder="Enter Password" formControlName="password" #password>
      </mat-form-field>
      <mat-divider></mat-divider>
      <br><br>
      <button mat-raised-button type="button" color="accent" routerLink="/register">Register</button>
      <button mat-raised-button type="submit" color="primary" (click)="login()" [disabled]="loginForm.pristine || loginForm.invalid">Login</button>
<!--      <button mat-raised-button type="submit" color="primary" (click)="login()" [disabled]="loginForm.pristine || loginForm.invalid">Save</button>-->
    </form>
  </mat-card>
</div>
